<p id="notice"><%= notice %></p>

<h1>Rinks</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rinks.each do |rink| %>
      <tr>
        <td><%= rink.name %></td>
        <td><%= rink.note %></td>
        <td><%= link_to 'Show', rink %></td>
        <td><%= link_to 'Edit', edit_rink_path(rink) %></td>
        <td><%= link_to 'Destroy', rink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rink', new_rink_path %>
