<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @play.name %>
</p>

<h2>Reviews</h2>
<% @play.reviews.each do |review| %>
  <p>
  <div class="row">
    <div class="col-4">
      <%= link_to "#{review.name} - #{review.created_at.strftime('%I:%M:%S %p')}", review_path(review), class: 'btn btn-outline-primary btn-block' %>
    </div>
    <div class="col-1">
      <%= link_to 'Delete', [review.play, review], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-block' %>
    </div>
  </div>
  </p>
<% end %>

<h3>Add a review:</h3>
<%= form_with(model: [ @play, @play.reviews.build ], local: true) do |form| %>
  <p>
    <%= form.label 'Review Type' %>
    <%= form.select :play_type_id, PlayType.all.collect {|p| [ p.name, p.id ] } %>
    <%= form.hidden_field :game_id, value: @game.id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>



<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
