<p id="notice"><%= notice %></p>

<%= render 'show_game' %>

<h2>Plays</h2>
<% @game.plays.each do |play| %>
  <p>
    <div class="row">
      <div class="col-4">
        <%= link_to "#{play.name} - #{play.created_at.strftime('%I:%M:%S %p')}", play_path(play), class: 'btn btn-outline-primary btn-block' %>
      </div>
      <div class="col-1">
        <%= link_to 'Delete', [play.game, play], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-block' %>
      </div>
    </div>
  </p>
<% end %>

<h3>Add a play:</h3>
<%= form_with(model: [ @game, @game.plays.build ], local: true) do |form| %>
  <p>
    <%= form.label 'Play Type' %>
    <%= form.select :play_type_id, PlayType.all.collect {|p| [ p.name, p.id ] } %>
    <%= form.hidden_field :game_id, value: @game.id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
